<div class="header">
    <a routerLink = "../user" class="nav-right">Users</a>
    <h1>Cantină Gaudeamus</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>
<div class="overlay">
    <app-nav-bar></app-nav-bar>
    <div class = "container" id="cnt">
        <div class = "error"  #error_message [style.display] = "displayError">
            <p>{{error}}</p>
        </div>
        <div class="form-fields" id="create_menu">
            <div>
                <div>
                    <label class="fields-inline"><b>Selectati data: </b></label>
                    <input class = "input-date" type="date" (input) = "date_menu = $event.target.value">
                </div>
                <div class = "categories">
                    <div id = "add_product_menu" *ngFor = "let category of categories; let i as index">
                        <label class="fields-inline" ><b>{{category}}</b></label>
                        <div class = "select-product" *ngFor = "let a of counter_categories[category]; let k as index" >
                            <select [(ngModel)] = "productsToAdd[category][k-1]">
                                <!-- <option></option> -->
                                <ng-container *ngFor = "let product of products;">
                                    <option [ngValue]="product._id" *ngIf = "product.category == category">{{product.name}}</option>
                                    <!-- {{productsToAdd}} -->
                                </ng-container>
                            </select>
                            <input placeholder = "Cantitate" type = "number" (change) = "onChangeInput($event, productsToAdd[category][k-1])">
                        </div>
                        
                        <button class="create-menu-btn" (click) = "addMoreProducts(category)">Adauga inca un produs</button>
                    </div>
                </div>
                    <br>
                <button class = "create-button" (click) = "createMenu()">Creare Meniu</button>
            </div>
        </div>
    </div>
    
</div>