<div class="body-div">
    <div class = "div-form">
        <div class="container">
            
            <header class="head-form">
                <h2>Autentificare</h2>
                <p>Autentificați-vă folosind adresa de email și parola!</p>
            </header>

            <div class = "error"  #error_message [style.display] = "displayError">
                <p>{{error}}</p>
            </div>
            
            <form (submit) = "loginUser(login_email.value, login_password.value)" class="input-fields">
                <!-- username-input  -->
                <div>
                    <b class = "input-name">Adresa de email</b>
                </div>
                <input type="text" class="input-field" #login_email type="text" placeholder="Introduceți adresa de email" required >                            
                <!-- end username-input -->
                
                <!-- password-input -->
                <div>
                    <b class = "input-name">Parola</b>
                </div>
                <input type="password" class="input-field" #login_password placeholder="Introduceți parola" name="password" required>
                <!-- end password-input -->
                <br>
                
                <!-- login button -->
                <button type = "submit" class="log-in submit" id = "input-field">Autentificare</button>
                    <!-- end login button -->
                    <br><br>
                    <button class="bttn submit frgt-pass" routerLink = "/forgot-password">Ai uitat parola?</button>
                    <button class="bttn submit sign-up" routerLink = "/register">Înregistrare</button>
                    <!-- forgot password and register buttons -->
                    <!-- <div class="other"> -->
                    <!-- </div> -->
                    <!-- end forgor password and register buttons -->
                </form>
                <!-- end input fields class -->
                <br>
        </div> 
    </div>
</div>