<!-- <p>user works!</p>
<p>{{username}}</p>
<br>
<p>{{password}}</p> -->
<div class="total-price" id="total_price">
    <h3>Pret Total</h3>
    <p>15.67 lei</p>
    <button>Cumpara</button>

</div> 
<!-- <h1> {{categories}} </h1> -->
<div class="header">
    <a href="#Info" class="nav-right">Info</a>
    <h1>Cantina Gaudeamus</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>

<div class="overlay">
    <div class = "container" id="cnt">
        <h1>Meniu 15/02/2020</h1>
        <div *ngFor = "let category of categories;">
            <div *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></div>
                <!-- <ng-container class="dish" *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></ng-container> -->
                <ng-template #thenBlock>
                    <div class = "menu">
                        
                        <p class="dish">{{category}}</p>
                        <ul *ngFor="let product of productsByCategory[category];">
                            <li><p>{{product.name}}</p></li>
                            <li><p>{{product.description}}</p></li>
                            <li><p>{{product.student_price}}</p></li>
                            <li><button><b>-</b></button></li>
                            <li><button><b>+</b></button></li>
                        </ul>
                    </div>
                </ng-template>
                <ng-template class = "menu" #elseBlock style = "display: none">
                </ng-template>

        </div>
    </div>
</div>