<!-- <p>user works!</p>
<p>{{username}}</p>
<br>
<p>{{password}}</p> -->
<div class="total-price" id="total_price">
    <h3>Preț total</h3>
    <p>{{totalPrice}} lei</p>
    <button (click) = "buyProducts()">Cumpară</button>

</div> 
<!-- <h1> {{categories}} </h1> -->
<div class="header">
    <a href="#Info" class="nav-right">Info</a>
    <h1>Cantină Gaudeamus</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>

<div class="overlay">
    <div class = "container" id="cnt">
        <h1 [style.display] = "displayCode">Codul dumneavoastră este: {{code}}</h1>
        <h1>Meniu {{printDate}}</h1>
        <div class = "error"  #error_message [style.display] = "displayError">
            <p>{{error}}</p>
        </div>
        <button class = "button" [style.display] = "displayButton1" (click) = "Recommendation()">Recomandare produse</button>
        <button class = "button" [style.display] = "displayButton2" (click) = "getProducts(formatDate)">Inapoi la meniu</button>
        <div *ngFor = "let category of categories;">
            <div *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></div>
                <!-- <ng-container class="dish" *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></ng-container> -->
                <ng-template #thenBlock>
                    <div class = "menu">
                        
                        <p class="dish">{{category}}</p>
                        <ul *ngFor="let product of productsByCategory[category];">
                            <li><p>{{product.name}}</p></li>
                            <li><p>{{product.description}}</p></li>
                            <li><p>{{product.student_price}} lei</p></li>
                            <li><button (click) = "minusProduct(product)"><b>-</b></button></li>
                            <li>{{buyProductsNumber[product._id.toString()]}}</li>
                            <li><button (click) = "plusProduct(product)"><b>+</b></button></li>
                        </ul>
                    </div>
                </ng-template>
                <ng-template class = "menu" #elseBlock style = "display: none">
                </ng-template>

        </div>
    </div>
</div>