<div class="header">
    <a routerLink = "../user" class="nav-right">Users</a>
    <h1>Cantinaă Gaudeamus</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>

<div class = "overlay">
    <app-nav-bar></app-nav-bar>
    <div class = "container" id = "cnt">
        <form class="form-fields" id="add_admin_fields" >
            <div>
                <label class="fields-inline"><b>Nume Admin</b></label>
                <input type = "text" placeholder= "Introduceti nume">
            </div>
            <div>
                <label class="fields-inline"><b>Adresa de email</b></label>
                <input type = "text" placeholder = "Introduceti email">
            </div>
            <button onclick = "addAdmin()">Adauga admin</button>

        </form>
    </div>
</div>