<div class="header">
    <a routerLink = "../user" class="nav-right">Utilizatori</a>
    <h1>Cantină</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>

<div class = "overlay">
    <app-nav-bar></app-nav-bar>
    <div class = "container" id = "cnt">
        <div class = "error"  #error_message [style.display] = "displayError">
            <p>{{error}}</p>
        </div>
        <div class = "message"  #error_message [style.display] = "displayMessage">
            <p>{{message}}</p>
        </div>
        <form class="form-fields" id="add_admin_fields" >
            <div>
                <label class="fields-inline"><b>Adresa de email</b></label>
                <input type = "text" #email placeholder = "Introduceti email">
            </div>
            <button (click) = "addAdmin(email.value)">Adaugă personal</button>

        </form>
    </div>
</div>