<!-- <app-admin-menu></app-admin-menu> -->
<div class="total-price" id="total_price">
    <h3>Preț Total</h3>
    <p>{{totalPrice}} lei</p>
    <button class="buy-products" (click) = BuyProducts()><header>Cumpară</header></button>

</div>

<div class="header">
    <a routerLink = "../user" class="nav-right">Users</a>
    <h1>Cantină Gaudeamus</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>
<div class="overlay">
    <app-nav-bar></app-nav-bar>
    <div class = "container" id="cnt">
        <div class = "error"  #error_message [style.display] = "displayError">
            <p>{{error}}</p>
        </div>
        <div class="form-fields" id="sell_products">
            <div class="input-code">
                <label><b>Cod pentru generare meniu automat:</b></label>
                <input type="text" #code placeholder="Introduceti cod">
                <button class = "ticket" (click) = "GeneratePersonalMenu(code.value)">Generare ticket</button>
            </div>
            <div *ngFor = "let category of categories;">
                <div *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></div>
                    <!-- <ng-container class="dish" *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></ng-container> -->
                    <ng-template class = "sell-products" #thenBlock>
                    <div class = "sell-products">
                        <div class = "card" *ngFor="let product of productsByCategory[category];">
                            <div class = "product-name">
                                <h3>{{product.name}}</h3>
                            </div>
                            <p class="price">Pret profesor: {{product.professorPrice}}</p>
                            <p class="price">Pret student: {{product.studentPrice}}</p>
                            <p class="description"> {{product.description}}</p>
                            <p class="quantity"> {{buyProductsTotal[product._id.toString()]}} </p>
                            <button class= "add-button" (click) = "addProduct(product)">Adauga</button>
                            <button class="delete-button">Șterge</button>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template class = "menu" #elseBlock style = "display: none">
                    </ng-template>
    
            </div>    
        </div>
    </div>
</div>