<!-- <app-admin-menu></app-admin-menu> -->
<div class="total-price" id="total_price">
    <h3>Preț Total</h3>
    <p>{{totalPrice}} lei</p>
    <button class="buy-products" (click) = BuyProducts()><header>Cumpără</header></button>

</div>

<div class="header">
    <a routerLink = "../user" class="nav-right">Utilizatori</a>
    <h1>Cantină</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>
<div class="overlay">
    <app-nav-bar1></app-nav-bar1>
    <div class = "container" id="cnt" #cnt >
        <div class = "error"  #error_message [style.display] = "displayError">
            <p>{{error}}</p>
        </div>
        <div class = "message"  #error_message [style.display] = "displayMessage">
            <p>{{message}}</p>
        </div>
        <div class="form-fields" id="sell_products">
            <div class="input-code">
                <label><b>Cod pentru generare meniu automat:</b></label>
                <input type="text" #code placeholder="Introduceți cod">
                <button class = "ticket" (click) = "GeneratePersonalMenu(code.value)">Arată meniu</button>
                <div class = "checkboxes">
                    <input type = "checkbox" #professor value = "others" [(ngModel)] = "others">
                    <label>Profesor/alți clienți</label>
                </div>
                <!-- <button class = "ticket" (click) = "downloadPdf()">Descarcă meniu sub format pdf</button> -->
            </div>
            
            <div *ngFor = "let category of categories;">
                <div *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></div>
                    <!-- <ng-container class="dish" *ngIf = "productsByCategory[category].length>0; then thenBlock; else elseBlock"></ng-container> -->
                    <ng-template class = "sell-products" #thenBlock>
                    <div class = "sell-products">
                        <div *ngFor="let product of productsByCategory[category];">
                            <div *ngIf = "this.buyProductsTotal[product._id.toString()] > 0; then thenBlock2; else elseBlock2"></div>

                            <ng-template #thenBlock2>
                                <div class = "card">
                                    <p class="product-name">{{product.name}}</p>
                                    <p class="price">Pret profesor: {{product.professorPrice}}</p>
                                    <p class="price">Pret student: {{product.studentPrice}}</p>
                                    <p class="description"> {{product.description}}</p>
                                    <p class="quantity"> Rămase:{{buyProductsTotal[product._id.toString()]}} / Selectate: {{buyProductsNumber[product._id.toString()]}}</p>
                                    <button class= "add-button" (click) = "addProduct(product)">Adaugă</button>
                                    <button class="delete-button" (click) = "minusProduct(product)">Șterge</button>
                                </div>
                            </ng-template>
                            <ng-template #elseBlock2 style = "display:none"></ng-template>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template  #elseBlock style = "display: none">
                    </ng-template>
    
                </div>    
            </div>
    </div>
</div>