<!-- <app-admin-menu></app-admin-menu> -->
<div class="total-price" id="total_price">
    <h3>Preț Total</h3>
    <p>{{totalPrice}}</p>
    <button (click) = BuyProducts()><header>Cumpară</header></button>

</div>

<div class="header">
    <a routerLink = "../user" class="nav-right">Users</a>
    <h1>Cantinaă Gaudeamus</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>
<div class="overlay">
    <app-nav-bar></app-nav-bar>
    <div class = "container" id="cnt">
        <div class="form-fields" id="sell_products">
            <div class="input-code">
                <label><b>Cod pentru generare meniu automat:</b></label>
                <input type="text" #code placeholder="Introduceti cod">
                <button class = "ticket" (click) = "GenerateTicket(code.value)">Generare ticket</button>
            </div>
            <div class="sell-products">
                <div class="card" *ngFor = "let product of myProducts; let i as index">
                    <div class = "product-name">
                        <h3>{{product.name}}</h3>
                    </div>
                    <p class="price">Pret profesor: {{product.professor_price}}</p>
                    <p class="price">Pret student: {{product.student_price}}</p>
                    <p class="description"> {{product.description}}</p>
                    <!-- <div class = "buttons-products"> -->
                        <button (click) = "addProduct(product)">Adauga</button>
                        <!-- <button>Sterge</button> -->
                    <!-- </div> -->
                </div>
            </div>    
        </div>
    </div>
</div>