<div class="header">
    <a routerLink = "../user" class="nav-right">Users</a>
    <h1>Cantină Gaudeamus</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>

<div class = "overlay">
    <app-nav-bar></app-nav-bar>
    <div class = "container" id = "cnt">
        <div class="form-fields" id="add_product_fields">
            <div class = "error" [style.display] = "displayError">
                <p>{{error}}</p>
            </div>
            <div>
                <label class="fields-inline"><b>Nume produs</b></label>
                <select #selectProduct>
                    <option value = ""></option>
                    <option *ngFor = "let product of myProducts" value="{{product._id}}">{{product.name}}</option>
                </select>
            </div>
            <div class="pret">
                <label class="fields-inline"><b>Preț profesor</b></label>
                <input type="number" placeholder="Preț" #professor_price>
            </div>

            <div class="pret">
                <label class="fields-inline"><b>Preț student</b></label>
                <input type="number" placeholder="Preț" #student_price>
            </div>

            <div class="gramaj">
                <label class="fields-inline"><b>Gramaj</b></label>
                <input type="number" placeholder="Introduceți gramaj" #product_weight>            
            </div>
            <div class="descriere">
                <label class="fields-inline"><b>Descriere</b></label>
                <textarea placeholder="Descriere / Ingrediente" #product_description></textarea>
            </div>
            <button (click) = "updateProduct(selectProduct.value, professor_price.value, student_price.value, product_weight.value, product_description.value)">Actualizeaza produs</button>

        </div>
    </div>
</div>