<div class="header">
    <a routerLink = "../user" class="nav-right">Utilizatori</a>
    <h1>Cantină</h1>
    <a class="logout-link" (click) = "_UserService.logout()">Logout</a>
</div>

<div class = "overlay">
    <app-nav-bar1></app-nav-bar1>
    <div class = "container" id = "cnt">
        <div class="form-fields" id="add_product_fields">
            <div class = "search">
                <input [(ngModel)] = "searchText" placeholder="Introduceti numele produsului">
                <!-- <button (click) = "SearchProducts(search_products.value)">Cautare</button> -->
            </div>
            <div class = "menu">

                <ul class="fields-name">
                    <li>Nume</li>
                    <li>Categorie</li>
                    <li>Pret profesor</li>
                    <li>Pret student</li>
                    <li>Greutate</li>
                    <li>Descriere</li>
                </ul>

                <ul *ngFor="let product of myProducts | filter : searchText">
                    <li>{{product.name}}</li>
                    <li>{{product.category}}</li>
                    <li>{{product.professorPrice}} lei</li>
                    <li>{{product.studentPrice}} lei</li>
                    <li>{{product.weight}} gr</li>
                    <li>{{product.description}}</li>
                </ul>
            </div>
    </div>
</div>