<mat-sidenav-container class = "menu">

    <button [routerLink] = "'/admin'" routerLinkActive = "active">Magazin</button>
    <button [routerLink] = "'/admin-create-menu'" routerLinkActive = "active" >Creare meniu</button>
    <button [routerLink] = "'/admin-adaugare-produs'" routerLinkActive = "active"> Adăugare produs</button>
    <button [routerLink] = "'/product-details'" routerLinkActive = "active"> Detalii produse</button>
    <button [routerLink] = "'/update-product'" routerLinkActive = "active"> Actualizare produse </button>
    <button [routerLink] ="'/admin-adaugare-admin'" routerLinkActive = "active">Adăugare admin</button>
    <button [routerLink] ="'/history'" routerLinkActive = "active">Istoric vânzari</button>
</mat-sidenav-container>

