<div class="body-div">
    <div class = "div-form">
        <div class="container">
            
            <header class="head-form">
                <h2>Forgot password</h2>
                <p>Recover your password using your email.</p>
            </header>

            <div class = "error"  #error_message [style.display] = "displayError">
                <p>{{error}}</p>
            </div>
            
            <form (submit) = "sendEmail(email.value)" class="input-fields">
                <!-- username-input  -->
                <div>
                    <b class = "input-name">Email</b>
                </div>
                <input type="text" class="input-field" #email type="text" placeholder="Enter your email" required >                            
                <!-- login button -->
                <button type = "submit" class="log-in submit" id = "input-field">Send Email</button>
                    <!-- end login button -->
                    <!-- end forgor password and register buttons -->
            </form>
                <!-- end input fields class -->
            <br>
        </div> 
    </div>
</div>