<div class="body-div">
    <div class = "div-form">
        <div class="container">
            
            <header class="head-form">
                <h2>Resetare parolă</h2>
                <p>Completați câmpurile de mai jos</p>
            </header>

            <div class = "error"  #error_message [style.display] = "displayError">
                <p>{{error}}</p>
            </div>
            <div class = "message"  #error_message [style.display] = "displayMessage">
                <p>{{message}}</p>
            </div>
            
            <form (submit) = "resetPassword(pwd.value, pwd_confirm.value)" class="input-fields">
                <!-- username-input  -->
                <div>
                    <b class= "input-name">Parolă</b>
                </div>
                <input type="password" class="input-field" #pwd placeholder="Introduceți parola" name="password" required>
                <!-- end password-input -->
    
                <!-- confirm-input -->
                <div>
                    <b class = "input-name">Confirmare parolă</b>
                </div>
                <input type="password" class="input-field" #pwd_confirm placeholder="Introduceți parola din nou" name="password" required>                        
                <!-- login button -->
                <button type = "submit" class="log-in submit" id = "input-field">Schimbă parola</button>
            </form>
                <!-- end input fields class -->
            <br>
        </div> 
    </div>
</div>